<footer class="footer">
    <div class="container">
        <div class="left">
           
        </div>
        <div class="right">
            <img src="/img/discount.png" alt="">
        </div>
    </div>
    <div class="end"></div>
</footer>